@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:wght@300;400;500;700&display=swap');

* {
	@apply m-0 p-0 box-border;
}
body {
	font-family: 'Roboto';
	@apply font-normal bg-black text-gray-300;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	@apply m-0 p-0;
}

.wrapper {
	@apply max-w-7xl mx-auto;
}

.pagination {
	list-style: none;
	height: 31.5px;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2px;
	cursor: pointer;
	.active {
		background-color: #1e50ff;
		border-radius: 50%;
	}
}

.page-item {
	list-style: none;
	padding: 2px 12px;
	height: 31.5px;
	width: 31.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2px;
}
