@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:wght@300;400;500;700&display=swap');

* {
	@apply m-0 p-0 box-border;
}
html,
body {
	font-family: 'Roboto';
	@apply font-normal bg-gray-900 text-gray-300 h-full;
	#root {
		@apply h-full;
	}
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	@apply m-0 p-0;
}
h1 {
	@apply text-2xl leading-[115%] font-bold;
}

form {
	@apply flex flex-col w-1/2 gap-6;
}

.wrapper {
	@apply max-w-7xl mx-auto flex-2;
}

.title {
	@apply text-[6vw] font-bold relative -left-6;
}

.pagination {
	list-style: none;
	height: 31.5px;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2px;
	cursor: pointer;
	.active {
		background-color: #1e50ff;
		border-radius: 50%;
	}
}

.page-item {
	list-style: none;
	padding: 2px 12px;
	height: 31.5px;
	width: 31.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2px;
}
